
H1 {
	color          : black;
	background     : white;
	font-family    : Verdana;
	font-size      : 17pt;
	font-variant   : normal;
	font-style     : normal;
}

H2 {
	color          : black;
	background     : white;
	font-family    : Verdana;
	font-size      : 14pt;
}

PRE {
	color          : black;
	background     : white;
	font-family    : Courier New; 
	font-size      : 10pt;
}

P {
	color          : black;
	background     : white;
	font-family    : Verdana;
	font-size      : 11pt;
}

CODE {
	color          : black;
	background     : white;
	font-family    : Verdana;
	font-size      : 10pt;

}

LI {
	color          : black;
	background     : white;
	font-family    : Verdana;
	font-size      : 11pt;
}


A:link {
	color          : black;
	background     : white;
	font-family    : Verdana;
	font-style     : normal;
	font-size      : 10pt;
}

A:visited {
	color          : blue;
	background     : white;
	font-family    : Verdana;
	font-style     : normal;
	font-size      : 10pt;

}

A:active {
	color          : red;
	background     : white;
	font-family    : Verdana;
	font-style     : normal;
	font-size      : 10pt;

}

A:hover {
	color          : red;
	background     : white;
	font-family    : Verdana;
	font-style     : normal;
	font-size      : 11pt;

}
